@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Space Grotesk", sans-serif;
}
input {
	height: 45px;
	padding: 10px 15px;
	margin-bottom: 15px;
}

.prokaBtn{
	height: 45px;
	padding: 10px 15px;
	margin-bottom: 15px;
}
.aleksaBtn {
	width: 200px;
	outline: none;
	border: none;
	padding: 15px;
	cursor: pointer;
	font-size: 16px;
}
.login__container,
.signup__container,
.verify,
.dashboard {
	width: 100%;
	min-height: 100vh;
	padding: 50px 70px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.login__form,
.verify__form,
.signup__form {
	width: 100%;
	display: flex;
	flex-direction: column;
}
.loginBtn,
.signupBtn,
.codeBtn {
	background-color: green;
	color: #fff;
	margin-bottom: 15px;
}
.signOutBtn {
	background-color: #c21010;
	color: #fff;
}
.link {
	cursor: pointer;
	color: rgb(39, 147, 39);
}
.code {
	width: 50%;
	text-align: center;
	text-transform: uppercase;
}
.verify__form {
	align-items: center;
}

@media screen and (max-width: 800px) {
	.login__container,
	.signup__container,
	.verify {
		padding: 30px;
	}
}

.searchButton {
	background-color: green; /* Green */
	border: none;
	color: white;
	padding: 15px 40px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 26px;
	cursor: pointer;
  }

  .vehicle{
	border: 6px solid green;
	border-radius: 16px;
  }

  .reservationButton{
	background-color: green;
	color: white;
	border: none;
	cursor: pointer;
	font-size: 18px;
	padding: 15px 10px;

  }
  .reservationButton:hover {background-color: #3e8e41}
  .iconSortDesc{
	background: url(assets/sortDesc.png) no-repeat;
    float: right;
	width: 16px;
	height: 16px;
  }
  .iconSortAsc{
	background: url(assets/list.png) no-repeat;
    float: right;
	width: 16px;
	height: 16px;
  }
  .sortBtn{
	background-color: white;
	color: black;
	border: 2px solid green;
	border-radius: 5px;
	padding: 10px 20px;
	cursor: pointer;
	font-size: 14px;
  }
  .sortBtn:hover {background-color: #3e8e41}

  .cancelReservationBtn{
	background-color: green;
	color: white;
	border: 2px solid green;
	border-radius: 5px;
	padding: 5px 10px;
	cursor: pointer;
	font-size: 12px;
  }
  .cancelReservationBtn:hover {background-color: #3e8e41;	border: 2px solid green;
  }

  .infoInput{
	width: 100%;
	border: 3px solid green;
	border-radius: 6px;
	font-size: 20px;
  }

  .infoInput:focus{
	outline: none !important;
	border: 3px solid rgb(36, 183, 90);
  }

  .updateBtn{
	background-color: white;
	color: black;
	border: 2px solid green;
	border-radius: 5px;
	padding: 15px 40px;
	text-align: center;
	text-decoration: none;
	font-size: 26px;
	cursor: pointer;
  }
  .updateBtn:hover {background-color: #3e8e41}

  .saveBtn{
	background-color: #3e8e41; /* Green */
	border: 2px solid #3e8e41;
	border-radius: 10px;
	color: white;
	padding: 11px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 22px;
	cursor: pointer;
  }
  .saveBtn:hover{
	border: 2px solid #3e8e41;
	background-color: white;
	color: #3e8e41;
  }

  .deleteBtn{
	background-color: rgb(173, 13, 13); /* Green */
	border: 2px solid rgb(173, 13, 13);
	border-radius: 10px;
	color: white;
	padding: 11px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 22px;
	cursor: pointer;
  }

  .deleteBtn:hover{
	border: 2px solid rgb(173, 13, 13);
	background-color: white;
	color: rgb(173, 13, 13);
  }

  .reviewSearchButton{
	background-color: green; /* Green */
	border: none;
	color: white;
	padding: 15px 40px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 26px;
	cursor: pointer;
  }
  .reviewSearchButton:hover{
	background-color: rgb(19, 168, 19);
  }


  .reviewSendButton{
	background-color: green; /* Green */
	border: none;
	border-radius: 12px;
	color: white;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	cursor: pointer;
  }
  .reviewSendButton:hover{
	background-color: rgb(19, 168, 19);
  }

  .deleteReviewBtn{
	background-color: rgb(173, 13, 13); /* Green */
	border: 2px solid rgb(173, 13, 13);
	border-radius: 10px;
	color: white;
	padding: 5px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	cursor: pointer;
  }

  .deleteReviewBtn:hover{
	border: 2px solid rgb(173, 13, 13);
	background-color: white;
	color: rgb(173, 13, 13);
  }

  .reviewUpdateButton{
	background-color: #3e8e41; /* Green */
	border: 2px solid #3e8e41;
	border-radius: 10px;
	color: white;
	padding: 5px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	cursor: pointer;
  }
  .reviewUpdateButton:hover{
	border: 2px solid #3e8e41;
	background-color: white;
	color: #3e8e41;
  }